<div class="main-wrapper" #scrollContainer>
  @if(result) {
  <div class="section result-section">
    <h1>Изчислена крайна вероятност</h1>
    @for(row of result; track $index) {
    <h3>
      {{ row[0] | questionTitle | uppercase }}&colon;<span
        >{{ row[1] | number : "1.2-2" }}&percnt;</span
      >
    </h3>
    }
  </div>
  } @else { @if(sections) { @for(section of sections; track $index) {
  <div class="section section-wrapper">
    <h2>{{ section.type | questionTitle | uppercase }}</h2>
    @for(question of section.questions; track $index) {
    <div class="question-wrapper">
      <h3>{{ question.questionText }}</h3>

        @if (question.link) {
         <p>
         <a
            class="question-link"
            [href]="question.link"
            target="_blank"
            rel="noopener noreferrer"
          >
             {{ question.link }}
         </a>
         </p>
        }

        @if (question.questionTitle === 'gradushka_gradobitnost') {
          <a
             href="assets/images/regions.jpg"
             target="_blank"
             rel="noopener noreferrer"
          >
          <img
             src="assets/images/regions.jpg"
             alt="Map of градобитност"
             style="max-width: 70%; margin: 0rem 0; border-radius: 10px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);"
          /></a>
        }

      <mat-radio-group
        class="radio-group"
        color="primary"
        (change)="onAnswerSelect($event, question)"
      >
        @for (answer of question.answers; let i = $index; track i) {
        <mat-radio-button [value]="i">{{ answer }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    }
  </div>
  } 

  @if(displayRequiredError) {
    <div class="error-message">Моля, отговорете на всички въпроси!</div>
  }

  <div class="submit-button-wrapper">
    <button
      mat-raised-button
      color="primary"
      class="submit-button"
      (click)="onSubmit(scrollContainer)"
    >
      Изчисли
    </button>
  </div>
  } }
</div>
