<div class="landing-page-wrapper">
  <div class="content-wrapper">
    <h1>Agro Risk</h1>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta
      libero vitae odio malesuada, nec mollis lorem lobortis. Donec sagittis
      vulputate nisl. Suspendisse vel bibendum felis. Mauris vitae tristique
      est. Nullam consectetur augue sed ligula ornare, nec ornare neque euismod.
      In tempor at lacus vel vehicula. Pellentesque vitae felis enim. Proin
      magna turpis, aliquet eu rutrum quis, sodales scelerisque tellus. Aliquam
      lorem magna, sagittis a lectus vel, consectetur bibendum odio. Sed ut odio
      vel sem tincidunt consectetur elementum quis est.
    </h3>
    <div class="start-button-wrapper">
      <button mat-raised-button color="accent" class="start-button">
        Започни
      </button>
    </div>
    <img class="image" src="assets\images\Неозаглавен_дизайн-removebg-preview.png" alt="image">
  </div>
</div>
